<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<footer id="footer" class="footer-basic">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/about">
                <i class="fa fa-info-circle"></i>&nbsp;About</a>
        </li>
        <li class="list-inline-item">
            <a href="/">
                <i class="fa fa-file-text"></i>&nbsp;Project Documentation</a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/ChristosHadjichristofi/Grades-Blockchain-App">
                <i class="fab fa-github"></i>&nbsp;Github</a>
        </li>
    </ul>
    <p class="copyright">Grades System dApp</p>
</footer>