<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body id="body">
    
    <%- include("includes/navbar.ejs")%>

    <div class="container" id="container-form">
        <div class="card shadow">
            <div class="card-body">
                <h6 class="text-muted card-subtitle mb-2">Complete the following form</h6>
                <form method="POST" action="/api/add/user/permissions">
                    <label for="wallet">User's Wallet</label>
                    <input class="form-control" type="text" name="wallet" id="wallet"/>

                    <label for="schools">School</label>
                    <select class="form-control" id="schools" name="school">
                        <option value="SCHOOL OF CIVIL ENGINEERING">SCHOOL OF CIVIL ENGINEERING</option>
                        <option value="SCHOOL OF MECHANICAL ENGINEERING">SCHOOL OF MECHANICAL ENGINEERING</option>
                        <option value="SCHOOL OF ELECTRICAL & COMPUTER ENGINEERING">SCHOOL OF ELECTRICAL & COMPUTER ENGINEERING</option>
                        <option value="SCHOOL OF ARCHITECTURE">SCHOOL OF ARCHITECTURE</option>
                        <option value="SCHOOL OF CHEMICAL ENGINEERING">SCHOOL OF CHEMICAL ENGINEERING</option>
                        <option value="SCHOOL OF RURAL, SURVEYING AND GEOINFORMATICS ENGINEERING">SCHOOL OF RURAL, SURVEYING AND GEOINFORMATICS ENGINEERING</option>
                        <option value="SCHOOL OF MINING & METALLURGICAL ENGINEERING">SCHOOL OF MINING & METALLURGICAL ENGINEERING</option>
                        <option value="SCHOOL OF NAVAL ARCHITECTURE & MARINE ENGINEERING">SCHOOL OF NAVAL ARCHITECTURE & MARINE ENGINEERING</option>
                        <option value="SCHOOL OF APPLIED MATHEMATICAL & PHYSICAL SCIENCES">SCHOOL OF APPLIED MATHEMATICAL & PHYSICAL SCIENCES</option>
                    </select>
                    
                    <label for="master">Master User</label>
                    <select class="form-control" id="master" name="master">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>

                    <div id="btn-container">
                        <button class="btn btn-primary shadow" id="storeUserPermissions" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include("includes/footer.ejs")%>

</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false
        };
        /* In order to access variables sent to ejs file to script you must Parse them to string */
        /* then to parse them back to JSON */
        let messages = '<%- JSON.stringify(messages) %>';
        messages = JSON.parse(messages);
        messages.forEach(({
            type,
            value
        }) => {
            switch (type) {
                case 'error':
                    toastr.error(value)
                    break;
                case 'success':
                    toastr.success(value)
                    break;
                case 'warning':
                    toastr.warning(value)
                    break;
                default:
                    toastr.info(value)
                    break;
            }
        });
    })
</script>

</html>