<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Form Completion</h4>
                        <p class="card-text">Add a new Grades Information to the Blockchain</p>
                        <a class="btn btn-primary" href="/form">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Show Courses</h4>
                        <p class="card-text">List of all school courses. In this page you can see all Grades Information regarding a course<br></p>
                        <a class="btn btn-primary" href="/courses">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if (isMaster) { %>
    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Add Node</h4>
                        <p class="card-text">Give access to a new node. You must be a master node to be able to add a new node<p>
                        <a class="btn btn-primary" href="/add/node/form">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</body>

</html>